footer {
  border-top: 1px solid #fff;
  padding: 20px 0;
  background-color: var(--cor-p1);
}

footer p {
  font-family: 'montserrat';
  text-align: center;
}

@media (max-width: 800px) {
  footer p {
    font-size: 0.875rem;
  }
}
