.intro-bg {
  background: url(../../img/silo.jpg) no-repeat;
  background-size: cover;

  /* box-shadow: inset 0 -120px var(--cor-1); */
}

.introducao {
  padding-top: 120px;
  padding-bottom: 120px;
}

.intro-conteudo {
  display: grid;
}

.intro-conteudo h1 {
  margin-bottom: 32px;
  text-align: left;
  color: var(--cor-0);
  font-family: 'Montserrat';
  font-weight: 700;
}

.intro-conteudo p {
  color: var(--cor-0);
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 20px;
}

.intro-conteudo .botao {
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--cor-0);
  place-self: center;
}

.introducao img {
  height: 100%;
  width: 100%;
}

@media (max-width: 800px) {
  .intro-bg {
    padding-top: 40px;
  }

  .introducao {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .introducao h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
