.intro-bg {
  background-color: var(--cor-p1);
  background-image: url(../../img/silo.jpg);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right;
}

.introducao {
  padding-top: 120px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.intro-conteudo {
  padding-right: 20px;
  display: grid;
  place-content: center;
}

.intro-conteudo h1 {
  margin-bottom: 32px;
  color: var(--cor-0);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.intro-conteudo p {
  color: var(--cor-0);
  margin-bottom: 20px;
  max-width: 75ch;
}

.intro-conteudo .botao {
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--cor-0);
}

.foto-mobile {
  display: none;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .intro-bg {
    background: var(--cor-p1);
  }

  .intro-bg p {
    color: #fff;
    font-weight: 500;
  }

  .intro-conteudo {
    padding: 0px;
  }

  .introducao h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  .intro-conteudo .botao {
    margin: 20px 0;
  }

  .foto-mobile {
    height: 300px;
    display: block;
  }
}
