.intro-bg {
  background-image: linear-gradient(to left, transparent 50%, var(--cor-p1) 50%),
    url(../../img/agriculturaMelhor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.introducao {
  padding-top: 120px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.intro-conteudo {
  display: grid;
}

.intro-conteudo h1 {
  margin-bottom: 32px;
  color: var(--cor-0);
  font-family: 'Montserrat';
  font-weight: 700;
}

.intro-conteudo p {
  color: var(--cor-0);
  margin-bottom: 20px;
}

.intro-conteudo .botao {
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--cor-0);
}

.foto-mobile {
  display: none;
  height: 100%;
  width: 100%;
  padding-top: 40px;
  object-fit: cover;
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .intro-bg {
    background: var(--cor-p1);
  }
  .introducao h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  .intro-conteudo .botao {
    margin-top: 20px;
  }

  .foto-mobile {
    height: 300px;
    display: block;
  }
}
