.servicos-ambientais-bg {
  background: var(--cor-0);
}

.titulo-servicos {
  color: var(--cor-p1);
}

.servicos-ambientais,
.servicos-florestais {
  padding-top: 120px;
  padding-bottom: 120px;
}

.servicos-florestais-bg {
  background-color: var(--cor-p3);
}

.servicos-ambientais h2,
.servicos-florestais h2 {
  color: var(--cor-p1);
  margin-bottom: 40px;
}

.servicos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0px 40px;
}

.servicos-lista li {
  color: var(--cor-p1);
  position: relative;
  margin-left: 24px;
}

.servicos-lista li + li {
  margin-top: 20px;
}

.servicos-lista li::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../img/sustentavel.svg');
  position: absolute;
  left: -24px;
  top: -2px;
}

@media (max-width: 1200px) {
  .servicos-ambientais,
  .servicos-florestais {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 800px) {
  .servicos {
    grid-template-columns: 1fr;
  }

  .img-servicos {
    display: none;
  }
}
