.servicos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.servicos-ambientais img {
  border-radius: 0px;
  height: auto;
  width: 100%;
}

.servicos-florestais img {
  border-radius: 0px;
  height: 610px;
}

.servicos-florestais .servicos-lista {
  padding-top: 40px;
  padding-bottom: 40px;
}

.servicos-ambientais {
  padding-top: 120px;
}

.servicos-lista {
  padding-left: 20px;
  padding-right: 20px;
}

.servicos-florestais {
  background-color: var(--cor-p3);
}

.servicos-ambientais h2,
.servicos-florestais h2 {
  color: var(--cor-p1);
  margin-bottom: 40px;
}

.servicos-lista li {
  color: var(--cor-p1);
  position: relative;
  margin-left: 24px;
}

.servicos-lista li + li {
  margin-top: 20px;
}

.servicos-lista li::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../img/sustentavel.svg');
  position: absolute;
  left: -24px;
  top: -2px;
}

@media (max-width: 1200px) {
  .servicos-ambientais {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 800px) {
  .servicos {
    grid-template-columns: 1fr;
  }

  .img-servicos {
    display: none;
  }
}
