.servicos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.servicos h2 {
  font-weight: bold;
}

.regularizacao-ambiental-bg {
  background-color: var(--cor-0);
  background-image: url(../../img/closeMaos.jpg);
  background-repeat: no-repeat;
  background-size: 50% 101%;
}

.regularizacao-ambiental,
.servicos-florestais,
.servicos-ambientais {
  padding-top: 120px;
  padding-bottom: 120px;
}

.regularizacao-ambiental .servicos-lista {
  grid-column: 2;
  padding-left: 40px;
}

.servicos .servicos-lista p {
  margin-bottom: 40px;
}

.servicos-ambientais-bg {
  background-color: var(--cor-p1);
  background-image: url(../../img/mao-test2.jpg);
  background-size: 50% 101%;
  background-repeat: no-repeat;
  background-position: right;
}

.servicos-florestais-bg {
  background-image: url(../../img/teste-2.jpg);
  background-size: 50% 101%;
  background-repeat: no-repeat;
}

.servicos.servicos-florestais .servicos-lista {
  grid-column: 2;
}

.servicos-ambientais h2,
.regularizacao-ambiental h2 {
  margin-bottom: 40px;
}

.servicos-florestais .servicos-lista {
  padding-left: 40px;
}

.servicos-ambientais .servicos-lista {
  padding-right: 120px;
}

.servicos-florestais h2 {
  margin-bottom: 40px;
}

.servicos-lista li {
  position: relative;
  margin-left: 24px;
}

.servicos-lista li + li {
  margin-top: 20px;
}

.servicos-lista li::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../img/sustentavel.svg');
  position: absolute;
  left: -24px;
  top: -2px;
}

@media (max-width: 900px) {
  .regularizacao-ambiental {
    padding-bottom: 40px;
  }

  .regularizacao-ambiental-bg {
    background: var(--cor-0);
  }

  .regularizacao-ambiental .servicos-lista {
    padding-left: 0;
  }

  .servicos {
    display: block;
  }

  .servicos-ambientais-bg {
    background-image: none;
  }

  .servicos-florestais-bg {
    background: var(--cor-0);
  }

  .servicos-ambientais .servicos-lista,
  .servicos-florestais .servicos-lista {
    text-align: left;
  }

  .servicos-florestais .servicos-lista {
    padding-left: 0px;
  }

  .servicos-ambientais .servicos-lista {
    padding-right: 0px;
  }

  .img-servicos {
    display: none;
  }

  .servicos-ambientais,
  .servicos-florestais,
  .regularizacao-ambiental {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
