.sobre {
  padding-top: 40px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.valores {
  padding-right: 40px;
}

.valores ul {
  display: flex;
  gap: 1rem;
}

.valores ul li {
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.missao {
  margin: 0 auto;
  height: 80px;
  width: 80px;
}

.valores p {
  color: var(--cor-p1);
  margin-top: 20px;
  text-align: center;
  font-size: 0.875rem;
}

.info-sobre {
  padding-left: 40px;
}

.info-sobre h3 {
  color: var(--cor-p1);
  margin-bottom: 20px;
}

.info-sobre p {
  color: var(--cor-p1);
  max-width: 75ch;
  font-size: 1.125rem;
}

@media (max-width: 900px) {
  .sobre {
    padding-top: 60px;
    padding-bottom: 60px;
    grid-template-columns: 1fr;
  }

  .valores ul {
    flex-direction: column;
  }

  .valores {
    order: 2;
    margin-top: 20px;
    padding-right: 0px;
  }

  .valores ul li + li {
    margin-top: 20px;
  }

  .info-sobre {
    padding-left: 0px;
  }
}
